# Seguridad Proactiva
.env
*.env

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Sistemas Operativos
.DS_Store
Thumbs.db

# [DEUDA TÉCNICA - CENTINELA] Persistencia Local SQLite y Logs
database.db
database.db-shm
database.db-wal
*.log

# Evidencia Visual Temporal y Reportes Excluidos
flutter_*.png
Reporte_Forense_JoshSecurity.pdf
Centinela_Pilar2_Conexion.pptx